﻿@model IEnumerable<BicycleStore.Web.Models.BicycleViewModel>
@{
    ViewBag.Title = "Bicycles Catalog";
}

@{
    var item = Model.First();
}

<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="row" data-bind="template: { name: 'bicycle-template', foreach: bicycles, as: 'bicycle' }"></div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Filter by price
            </div>
            <div class="panel-body">
                <input id="price-slider" type="text" class="span2" data-slider-min="0" data-slider-max="100000" data-slider-step="100" data-slider-value="[0,100000]"/>
                <br/>
                Price: $<span data-bind="text: priceFilter().minPrice"></span> - $<span data-bind="text: priceFilter().maxPrice"></span>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Filter by sex
            </div>
            <div class="panel-body">
                <div class="checkbox">
                    <label><input type="checkbox" data-bind="checked: sexFilter" value="Male">Male</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" data-bind="checked: sexFilter" value="Female">Female</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" data-bind="checked: sexFilter" value="Unisex">Unisex</label>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal window -->
<div class="modal fade" id="bicycleInfoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content" data-bind="if: selectedBicycle() !== undefined">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="bicycleInfoModalLabel" data-bind="text: selectedBicycle().fullName()"></h4>
            </div>
            <div class="modal-body">                
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-bind="if: selectedBicycle().photos().length > 0">
                    <div class="carousel-inner" data-bind="foreach: {data: selectedBicycle().photos(), as: 'photo' }">                        
                        <div class="item" data-bind="css: { 'active': $index() == 0 }">
                            <img data-bind="attr: { src: $root.getPhotoUrl(photo) }"/>                            
                        </div>
                    </div>
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div data-bind="if: selectedBicycle().photos().length == 0">
                    <p>(No image available)</p>
                </div>
                <p>
                    <strong data-bind="text: selectedBicycle().type()"></strong><br/>
                    <span data-bind="text: selectedBicycle().sexCaption()"></span><br/>
                    Wheel size: <span data-bind="text: selectedBicycle().wheelDiameter()"></span>"<br/>
                </p>
                <p class="lead text-warning">
                    Price: $<span data-bind="text: selectedBicycle().price()"></span>
                </p>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    @Scripts.Render("~/bundles/knockout")

    <script type="text/html" id="bicycle-template">
        <div class="col-md-3 bicycle-item" data-bind="visible: bicycle.shouldShow(), attr: {'data-bicycle-id': bicycle.id }, click: $parent.openModal">            
            <p class="lead text-primary" data-bind="text: fullName"></p>
            <img data-bind="attr: { src: $root.getPhotoUrl(photos()[0]) }" class="img-responsive img-thumbnail"/>
            <p>
                <strong data-bind="text: type"></strong><br/>
                <span data-bind="text: sexCaption"></span><br/>
                Wheel size: <span data-bind="text: wheelDiameter"></span>"<br/>
            </p>
            <p class="lead text-warning">
                Price: $<span data-bind="text: price"></span>
            </p>
        </div>
    </script>

    <script type="text/javascript">
        var priceFilterLink = null;

        var KoViewModel = function () {
            var self = this;
            var model = @Html.Raw(Json.Encode(Model));
            this.bicycles = ko.observableArray();
            this.priceFilter = ko.observable({
                minPrice: 0,
                maxPrice: 100000
            });
            this.selectedBicycle = ko.observable();
            this.sexFilter = ko.observableArray(["Male", "Female", "Unisex"]);
            this.imagesUrl = '@Url.Content("~/Images")';
            priceFilterLink = this.priceFilter;

            model.forEach(function(item, index) {
                var newObject = {
                    id: item.Id,
                    name: ko.observable(item.Name),
                    brand: ko.observable(item.Brand.Name),
                    photos: ko.observableArray(item.AllPhotos),
                    type: ko.observable(item.BicycleType.Name),
                    sex: ko.observable(item.Sex),
                    wheelDiameter: ko.observable(item.WheelDiameter),
                    price: ko.observable(item.Price),
                    fullName: null,
                    shouldShow: null,
                    sexCaption: null,                    
                };
                newObject.fullName = ko.computed(function() {
                    return newObject.brand() + " " + newObject.name();
                });
                newObject.sexCaption = ko.computed(function() {
                    switch (newObject.sex()) {
                    case 0:
                        return "Male";
                    case 1:
                        return "Female";
                    case 2:
                        return "Unisex";
                    }
                });
                newObject.shouldShow = ko.computed(function() {
                    var priceFilter = newObject.price() > self.priceFilter().minPrice &&
                        newObject.price() < self.priceFilter().maxPrice;
                    var sexFilter = $.inArray(newObject.sexCaption(), self.sexFilter()) === -1 ? false : true;
                    return priceFilter && sexFilter;
                });                                
                self.bicycles.push(newObject);
            });

            self.openModal = function(item) {
                self.selectedBicycle(item);
                $('#bicycleInfoModal').modal();
            }

            self.getPhotoUrl = function (photoObj) {
                if (photoObj === undefined) {
                    return self.imagesUrl + "/Not_available.jpg";
                }
                return self.imagesUrl + '/' + photoObj.BicycleId + '/' + photoObj.Id + '.jpg';
            }
        };
        ko.applyBindings(new KoViewModel());

        var slider = $("#price-slider").slider({});
        slider.on("slide",
            function(event) {
                priceFilterLink({
                    minPrice: event.value[0],
                    maxPrice: event.value[1]
                });
            });
        $('div.bicycle-item').hover(
            function() {
                $(this).addClass('bg-info');
            },
            function() {
                $(this).removeClass('bg-info');
            }
        );
    </script>
}