﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#photos-list {
    overflow: auto;
    max-height: 400px;
}

.bicycle-photo {
    width: 100px;
}