﻿@model IEnumerable<BicycleStore.Web.Models.BicycleViewModel>

@{
    ViewBag.Title = "All Bicycles";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add New", "EditBicycle")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BicycleType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sex)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            Actions
        </th>
    </tr>


    @foreach (var item in Model)
    {
        string fullName = $"{item.Brand.Name} {item.Name} ({item.WheelDiameter}\")";
        <tr>
            <td>
                @fullName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BicycleType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Price)
            </td>
            <td> 
                @{
                    //TODO: Extract modal div
                    string modalId = $"modal{item.Id}";
                }
                <a href="#" data-toggle="modal" data-target="#@modalId">Open Modal</a>
                <div id="@modalId" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">@fullName description:</h4>
                            </div>
                            <div class="modal-body">
                                <p>@item.Description</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBicycle", new {id = item.Id}) |                                
                <a href="#" class="bicycle-delete-button confirmation" data-bicycle-id="@item.Id">Delete</a>
            </td>
        </tr>
    }

</table>

@section Scripts
{    
    <script>
        $('.confirmation').confirmation({
            rootSelector: $('.confirmation'),
            placement: 'top',
            popout: true,
            title: "Are you sure?",
            singleton: true            
        });

        $(".bicycle-delete-button").click(function () {
            var id = $(this).attr('data-bicycle-id');
            var tr = $(this).closest('tr');

            $.ajax({
                url: 'http://localhost:53838/api/bicycles/delete/' + id,
                type: 'DELETE',                                
                success: function (data, status) {                    
                    if (status === "success") {                        
                        tr.fadeOut(400, function(){
                            tr.remove();
                        });
                    }
                },
                error: function (jqXHR) {                    
                    alert(jqXHR.statusText + ": " + JSON.parse(jqXHR.responseText).Message);                    
                }
            });            
        })
    </script>
}