﻿@model BicycleStore.Web.Models.BicycleViewModel

@{
    ViewBag.Title = Model.IsAdding ? "Add bicycle" : "Edit bicycle";
}

<h2>@ViewBag.Title</h2>
<div>
    @Html.ActionLink("Back to List", "Bicycles")
</div>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm("", "", FormMethod.Get, new {id = "submit-form"}))
        {
            <div class="form-horizontal">
                <hr/>
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.IsAdding)

                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new {@class = "control-label col-md-3"})
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Sex, htmlAttributes: new {@class = "control-label col-md-3"})
                    <div class="col-md-9">
                        @Html.EnumDropDownListFor(model => model.Sex, new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Sex, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BicycleType, htmlAttributes: new {@class = "control-label col-md-3"})
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.BicycleType.Id, new SelectList(Model.AllBicycleTypes, "Id", "Name"), new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.BicycleType, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.WheelDiameter, htmlAttributes: new {@class = "control-label col-md-3"})
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.WheelDiameter, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.WheelDiameter, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Brand, htmlAttributes: new {@class = "control-label col-md-3"})
                    <div class="col-md-9">
                        @Html.DropDownListFor(model => model.Brand.Id, new SelectList(Model.AllBrands, "Id", "Name"), new {@class = "form-control"})
                        @Html.ValidationMessageFor(model => model.Brand, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Price, htmlAttributes: new {@class = "control-label col-md-3"})
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.Price, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.Price, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new {@class = "control-label col-md-3"})
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.Description, new {@class = "form-control", rows = 8})
                        @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Save" class="btn btn-default"/>
                        <p id="SaveState"></p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-md-6">
        <h3>Photos:</h3>
        <div id="upload-photo">
            <form action="@Url.Action("UploadImage")"
                  class="dropzone"
                  id="upload-photo-dropzone">
            </form>           
            <div id="photos-list">
                <table class="table" id="photos-list-table">
                    <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        @if (Model.AllPhotos != null)
                        {
                            foreach (var photo in Model.AllPhotos)
                            {
                                var path = Url.Content($"~/Images/{photo.BicycleId}/{photo.Id}.jpg");
                                <tr>
                                    <td><img src="@path" class="bicycle-photo"/></td>
                                    <td><a href="#" class="make-main-photo-link" data-photo-id="@photo.Id">Make main photo</a> | <a href="#">Delete</a></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<hr/>
<h3>Configurations:</h3>
@if (Model.IsAdding)
{
    <span title="Please save the bike model first, then you can add the configuration">Add configuration</span>
}
else
{
    @Html.ActionLink("Add configuration", "EditConfiguration", new {bicycleId = Model.Id})
}

<table class="table">
    <tr>
        <th>
            Frame Size
        </th>
        <th>
            Availability
        </th>
        <th>
            Actions
        </th>
    </tr>

    @if (Model.Configurations != null)
    {
        foreach (var configuration in Model.Configurations)
        {
            <tr>
                <td>
                    @configuration.FrameSize"
                </td>
                <td>
                    @configuration.Availability
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditConfiguration", new {id = configuration.Id, bicycleId = Model.Id}) |
                    <a href="#" class="configurations-delete-button confirmation" data-configuration-id="@configuration.Id">Delete</a>
                </td>
            </tr>
        }
    }

    </table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval");
    @Scripts.Render("~/bundles/dropzone");

    <script>
        $('.make-main-photo-link').click(function() {
            $.post("@Url.Action("MakeMainPhoto")", { id: $(this).attr("data-photo-id") }, function(data,
                textStatus,
                jqXHR) {
                console.log("!");
            });
        });

        $('#submit-form').submit(function(e) {
            e.preventDefault();
            if ($('#submit-form').valid()) {
                postData();
            }
            return false;
        });

        function postData() {
            var objectToSend = {
                Id: $("#Id").val(),
                Name: $("#Name").val(),
                BicycleTypeId: $("#BicycleType_Id").val(),
                Sex: $("#Sex").val(),
                WheelDiameter: $("#WheelDiameter").val(),
                BrandId: $("#Brand_Id").val(),
                Price: $("#Price").val(),
                Description: $("#Description").val()
            };

            $("#SaveState").text("Saving...");

            $.post("http://localhost:53838/api/bicycles/save",
                objectToSend,
                function(data, status) {
                    if (status === "success") {

                        if ($("#IsAdding").val() === "True") {
                            window.location.href += "/" + data;
                        }
                    }
                    $("#SaveState").text("Save status: " + status);
                });
        }

        $('.confirmation').confirmation({
            rootSelector: $('.confirmation'),
            placement: 'top',
            popout: true,
            title: "Are you sure?",
            singleton: true
        });

        $(".configurations-delete-button").click(function() {
            var id = $(this).attr('data-configuration-id');
            var tr = $(this).closest('tr');

            $.ajax({
                url: 'http://localhost:53838/api/configurations/delete/' + id,
                type: 'DELETE',
                success: function(data, status) {
                    if (status === "success") {
                        tr.fadeOut(400,
                            function() {
                                tr.remove();
                            });
                    }
                },
                error: function(jqXHR) {
                    alert(jqXHR.statusText + ": " + JSON.parse(jqXHR.responseText).Message);
                }
            });
        });

        Dropzone.autoDiscover = false;

        var photoDropzone = new Dropzone("form#upload-photo-dropzone",
            {
                url: "@Url.Action("UploadImage")",
                maxFilesize: 2, // MB
                acceptedFiles: "image/jpeg",
                resizeWidth: 900,
                params: {
                    bicycleId: '@Model.Id'
                }
            });
        photoDropzone.on("success",
            function(file, response) {                
                var newImageUrl = '@Url.Content("~/Images")' + '/' + response.imageUrl;
                $('#photos-list-table tr:last').after('<tr><td><img src="' + newImageUrl + '" class="bicycle-photo"/></td><td><a href="#">Make main photo</a> | <a href="#">Delete</a></td></tr>');                                
            });
    </script>

    @if (Model.IsAdding)
    {
        <script>
            photoDropzone.disable();
            $("div#upload-photo").prop('title', 'Please save the bike model first, then you can add the photos');
        </script>
    }
}