﻿@model BicycleStore.Web.Models.ConfigurationViewModel

@{
    ViewBag.Title = Model.IsAdding ? "Add configuration" : "Edit configuration";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("", "", FormMethod.Get, new { id = "submit-form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">        
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(model => model.IsAdding)
        @Html.HiddenFor(model => model.BicycleId)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.FrameSize, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FrameSize, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FrameSize, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Availability, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Availability, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Availability, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <p id="SaveState"></p>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to bicycle", "EditBicycle", new { id = Model.BicycleId }, new { id = "back-to-bicycles-link"})
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $('#submit-form').submit(function (e) {
            e.preventDefault();
            if ($('#submit-form').valid()) {
                postData();                
            }            
        });        

        function postData() {
            var objectToSend = {
                Id: $("#Id").val(),
                BicycleId: $("#BicycleId").val(),
                FrameSize: $("#FrameSize").val(),
                Availability: $("#Availability").val()
            };

            $("#SaveState").text("Saving...");

            $.post("http://localhost:53838/api/configurations/save",
                objectToSend,
                function (data, status) {
                    if (status === "success") {                        
                        window.location.href = $("#back-to-bicycles-link").attr('href');                        
                    }
                    $("#SaveState").text("Save status: " + status);
                });
        }
    </script>
}
